*, *::after, *::before{
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	text-align: center;
	width: 700px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

header h1{
	padding: 10px;
}
.leftSide, .rightSide{
	/* display: inline-block; */
	/* float: left; */
}

.leftSide{
	float-left;
	width: 300px;
	margin-right: 10px;
	margin-top: 20px;
	float: left;
}
.rightSide{
	width: 300px;
	height: 1000px;
	float: right;
	margin-top: 20px;
	text-align: left;
}

img{
	height: 50px;
	width: 50px;
}

#part3, #part4{
	text-align: left;
}

#part1, #part2, #part3, #part5, #part6{
	border-top: 1px solid blue;
}
#part3, #part6{
	border-bottom: 1px solid blue;
}